<div class="new" style="padding: 1rem">
	<div class="card">
	    <h5 class="card-header">Editar Endereço</h5>
	    <div class="card-body">
	    	<%= render 'form', address: @address %>
		</div>
	</div>
</div>